<%= form_with model: @situation, url: admin_situation_path do |f| %>
  <%= render 'layouts/error_message.html.erb', model: f.object %>
  <div class="base-frame">
    <div class="row d-flex align-items-center">
      <h2 class="mt-3 mr-auto"><%= @situation.name %>を編集</h2>
      <div>
        <%= link_to "Delete Situation", admin_situation_path(@situation), method: :delete,data: { confirm: "[確認]シチュエーションを削除します。よろしいですか？"}, class: "btn btn-danger mb-0 mt-3" %>
      </div>
    </div>

    <div class="row">
      <table class="table mt-3">
        <tr>
          <td class="col-md-2">Situation Name</td>
          <td><%= f.text_field :name, class: "form-control col-md-4" %></td>
        </tr>
      </table>
      <div class="row mx-auto">
        <%= link_to "Return Situation Detail", admin_situation_path(@situation), class: "btn btn-secondary btn-md" %>
        <%= f.submit "Save Changes", class: "btn btn-success btn-md ml-3" %>
      </div>
    </div>
  </div>
<% end %>