<div class="base-frame">
  <div class="action-view-frame border system-font loading-container">
    <%= render 'now_loading' %>
    <div class="fadein-content">
      <div class="about-container">
        <div class="about-content-box">
          <div class="shalica-frame">
            <%= image_tag 'animations/shalica_standing.gif', size: "240x160" %>
          </div>

          <div class="about-content-slide-box">
            <%= render 'sign_up' %>
            <%= render 'sign_in' %>
            <%= render 'mypage' %>
            <%= render 'ability' %>
            <%= render 'quest' %>
            <%= render 'quest_new' %>
            <%= render 'loading' %>
            <%= render 'adv_start' %>
            <%= render 'adv' %>
            <%= render 'adv_boss' %>
            <%= render 'adv_level_up' %>
          </div>
        </div>

        <div class="about-message-window system-window system-window-border d-flex align-items-center">
          <div class="about-message-window-box d-flex p-1 align-items-center">
            <%= image_tag 'animations/shalica_face.gif', size: "80x80" %>
            <p id="quest-message-text" class="system-font mb-0 ml-1">はじめまして！！わたしのなまえは「シャリカ」です！</p>
            <div class="about-command-box system-window-border ml-auto d-flex flex-column">
              <button id="command-next-message" type="button" class="text-initialize command-next-message">つぎへ</button>
              <button id="command-back-message" type="button" class="text-initialize command-next-message mt-auto"></button>
              <p id="num-of-pages" class="command-next-message text-center mt-auto mb-0">1/37p</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener("load",() => {
    $('.fadein-content').fadeIn(2000,() => {
      $('.loading-box').fadeOut();
    });

    const aboutTexts = [
      "はじめまして！！わたしのなまえは「シャリカ」です！",                                                  //  1p
      "いきなりですが、「がくしゅうしゃ」についてせつめいをしますね！",                                      //  2p
      "「がくしゅうしゃ」とは、いろいろな「がくしゅう」をしながらぼうけんをする「ゆうしゃ」のことです。",    //  3p
      "あなたさまにはぜひ、その「がくしゅうしゃ」となっていただきたいのです！",                              //  4p
      "いまから「がくしゅうしゃ」になるくわしいほうほうをおはなしします！",                                  //  5p
      "はじめに、「あたらしいがくしゅうしゃになる」からデータのとうろくをします。",                          //  6p
      "ひつようなじょうほうを、１つずつにゅうりょくしていきます。",                                          //  7p
      "わからないところは、かならず、おとうさんやおかあさんといっしょににゅうりょくしましょうね。",          //  8p
      "データがあるばあいは、「セーブデータをロード」をクリックしましょう。",                                //  9p
      "ここでも、ひつようなじょうほうをにゅうりょくしましょう。",                                            // 10p
      "もしパスワードをわすれてしまったら、おとうさんやおかあさんにきいてみましょう。",                      // 11p
      "データのさくせいや、ロードにせいこうしたばあいはステータスがめんへとうつります。",                    // 12p
      "ステータスがめんでは、がくしゅうしゃレベルとアビリティレベルのかくにんと、",                          // 13p
      "とうろくされたがくしゅうしゃのじょうほうをへんこうできます。",                                        // 14p
      "がくしゅうしゃのみためをへんこうしたいときは、「じょうほうのへんこう」をクリックしましょう。",        // 15p
      "また、アビリティがとうろくされていなければクエストにいくことはできないため、",                        // 16p
      "「アビリティしょうさい」、または、「アビリティをみる」をクリックしましょう。",                        // 17p
      "アビリティのしょうさいでは、あたらしいアビリティのとうろくとへんこうをすることができます。",          // 18p
      "アビリティは６つまでとうろくでき、３つとうろくするとグラフがひょうじされます。",                      // 19p
      "アビリティのなまえをクリックすると、アビリティのなまえのへんこうとさくじょができます。",              // 20p
      "アビリティのとうろくがおわったら、クエストにむかいましょう！",                                        // 21p
      "クエストがめんでは、「クエストをうける」ことと「いままでのクエスト」をみることができます。",          // 22p
      "クエストをうけるときは、むかいたいマップとたおしたいボス、つよくしたいアビリティをえらびましょう。",  // 23p
      "つぎに、クエストのじかんをせっていして、クエストのないようをメモしましょう。",                        // 24p
      "すべてのにゅうりょくがおわったら、いよいよぼうけんにしゅっぱつしましょう！",                          // 25p
      "クエストのよみこみにはじかんがかかるばあいがあります。そのままおまちくださいね。",                    // 26p
      "よみこみおわったらボタンをおしてクエストスタート！",                                                  // 27p
      "クエストがはじまると、タイマーがすすんでいくのでしゅうちゅうしてがくしゅうしましょう。",              // 28p
      "クエストをとちゅうでやめるばあいは「リタイアする」をクリックしましょう。",                            // 29p
      "リタイアしたばあいは、がくしゅうじかんだけがきろくされます。",                                        // 30p
      "「ポーズする」をクリックするとタイマーがとまります。「ポーズかいじょ」でうごきだします。",            // 31p
      "タイマーがおわるか、がくしゅうがはやくおわったばあいは「ボスにすすむ」をクリックしましょう！",        // 32p
      "クエストボスとのたたかいです！きょうりょくな「ひっさつわざ」をつかいましょう！！",                    // 33p
      "ボスをたおすと、がくしゅうしゃレベルとアビリティレベルがアップします！！",                            // 34p
      "「がくしゅうしゃ」のせつめいはこれでぜんぶです！！",                                                  // 35p
      "もういちど、せつめいをききたいばあいは、「さいしょから」をクリックしてくださいね。"                   // 36p
    ];

    let currentPage = 1
    const pageCounts = aboutTexts.length

    // スライドを進める
    const increamentPage = () => {
      currentPage++;
      $('#num-of-pages').text(`${currentPage}/${pageCounts}p`);
      $('#quest-message-text').text(aboutTexts[currentPage - 1]);
    };

    // スライドを戻す
    const decrementPage = () => {
      currentPage--;
      $('#num-of-pages').text(`${currentPage}/${pageCounts}p`);
      $('#quest-message-text').text(aboutTexts[currentPage - 1]);
    };

    // つぎへボタン
    $('#command-next-message').click(() => {
      increamentPage();

      switch (currentPage) {
        case 2:
          $('#command-back-message').text("もどる");
          break;
        case 6:
          $('#about-sign-up').slideDown();
          break;
        case 9:
          $('#about-sign-up').slideUp(() =>  {
            $('#about-sign-in').slideDown();
          });
          break;
        case 12:
          $('#about-sign-in').slideUp(() => {
            $('#about-mypage').slideDown();
          });
          break;
        case 18:
          $('#about-mypage').slideUp(() => {
            $('#about-ability').slideDown();
          });
          break;
        case 22:
          $('#about-ability').slideUp(() => {
            $('#about-quest').slideDown();
          });
          break;
        case 23:
          $('#about-quest').slideUp(() => {
            $('#about-quest-new').slideDown();
          });
          break;
        case 26:
          $('#about-quest-new').slideUp(() => {
            $('#about-loading').slideDown();
          });
          break;
        case 27:
          $('#about-loading').slideUp(() => {
            $('#about-adv-start').slideDown();
          });
          break;
        case 28:
          $('#about-adv-start').slideUp(() => {
            $('#about-adv').slideDown();
          });
          break;
        case 33:
          $('#about-adv').slideUp(() => {
            $('#about-adv-boss').slideDown();
          });
          break;
        case 34:
          $('#about-adv-boss').slideUp(() => {
            $('#about-adv-level-up').slideDown();
          });
          break;
        case 35:
          $('#about-adv-level-up').slideUp();
          break;
        case 36:
          $('#command-next-message').text("さいしょから");
          $('#command-back-message').text("もどる");
          break;
        case 37:
          $('#command-next-message').text("つぎへ");
          $('#command-back-message').text("もどる");
          currentPage = 3;
          $('#num-of-pages').text(`${currentPage}/${pageCounts}p`);
          $('#quest-message-text').text(aboutTexts[currentPage - 1]);
          break;
      }
    });

    // もどるボタン
    $('#command-back-message').click(() => {
      decrementPage();

      switch (currentPage) {
        case 1:
          $('#command-back-message').text("");
          break;
        case 5:
          $('#about-sign-up').slideUp();
          break;
        case 8:
          $('#about-sign-in').slideUp(() => {
            $('#about-sign-up').slideDown();
          });
          break;
        case 11:
          $('#about-mypage').slideUp(() => {
            $('#about-sign-in').slideDown();
          });
          break;
        case 17:
          $('#about-ability').slideUp(() => {
            $('#about-mypage').slideDown();
          });
          break;
        case 21:
          $('#about-quest').slideUp(() => {
            $('#about-ability').slideDown();
          });
          break;
        case 22:
          $('#about-quest-new').slideUp(() => {
            $('#about-quest').slideDown();
          });
          break;
        case 25:
          $('#about-loading').slideUp(() => {
            $('#about-quest-new').slideDown();
          });
          break;
        case 26:
          $('#about-adv-start').slideUp(() => {
            $('#about-loading').slideDown();
          });
          break;
        case 27:
          $('#about-adv').slideUp(() => {
            $('#about-adv-start').slideDown();
          });
          break;
        case 32:
          $('#about-adv-boss').slideUp(() => {
            $('#about-adv').slideDown();
          });
          break;
        case 33:
          $('#about-adv-level-up').slideUp(() => {
            $('#about-adv-boss').slideDown();
          });
          break;
        case 34:
          $('#about-adv-level-up').slideDown();
          break;
        case 35:
          $('#command-next-message').text("つぎへ");
          break;
      }
    });
  });
</script>