<div class="base-frame">
  <%= form_with model: @quest, url: quests_path do |f| %>
    <%= render 'layouts/error_message_shalica.html.erb', model: f.object %>
    <div class="action-view-frame system-font quest-counter">
      <%= render 'loading' %>
      <div class="fadein-content">
        <div class="d-flex quest-counter-bg">
          <div class="d-flex align-items-start flex-column slide-window quest-left-sidebar">
            <div class="quest-command mb-auto mx-auto mt-3">
              <button id="btn-new-quest" class="text-initialize" type="button">クエストをうける</button>
            </div>
            <div class="quest-command mx-auto mb-3">
              <button id="btn-quest-index" class="text-initialize" type="button">いままでのクエスト</button>
            </div>
            <div class="quest-command mx-auto pb-3">
              <%= link_to "ステータスにもどる", mypage_path, class: "text-initialize" %>
            </div>
          </div>

          <div class="quest-right-sidebar">
            <%= render 'new_quest_box', quest: @quest, user: @user, f: f %>
            <%= render 'quest_index_box', quests: @quests %>
            <%= render 'quest_show_box'%>
          </div>
        </div>

        <div class="quest-message-window system-window system-window-border d-flex align-items-center">
          <div class="d-flex p-1 align-items-center">
            <%= image_tag @shalica.have_first_animation.image, size: "80x80" %>
            <p id="quest-message-text" class="mb-0 ml-1"><%= @user.name %>さま！！こちらはギルドとなります！</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    let click_slide_name = ""
    let show_button_id = 0
    let quest_id = 0
    let quit_button_id= 0

    // ロード画面
    $('.fadein-content').fadeIn(3000, function() {
      $('.loading-box').fadeOut();
    });

    // map,bossプレビュー機能
    $('.map_id').change(function() {
      $(".map-image").addClass("d-none");
      var imageId = "#map-image-" + $(this).val();
      $(imageId).removeClass("d-none");
    });

    $('.boss_id').change(function() {
      $(".boss-image").addClass("d-none");
      var imageId = "#boss-image-" + $(this).val();
      $(imageId).removeClass("d-none");
    });

    // new_quest_boxを表示
    $('#btn-new-quest').click(function() {
      if (click_slide_name == "new-quest") {
        $('#new-quest-box').slideUp();
        click_slide_name = ""
        $('#quest-message-text').text("");

      } else if (click_slide_name == "quest-show") {
        $(`#quest-show-box-${quest_id}`).slideUp(function() {
          $('#new-quest-box').slideDown();
          click_slide_name = "new-quest"
        });

      } else {
        $('#quest-message-text').text("クエストじょうほうをにゅうりょくしてください。");

        if (<%= @show_box_exist %> == false ) {
          $('#quest-index-box').slideUp(function() {
            $('#new-quest-box').slideDown();
            click_slide_name = ""
          });

        } else {
          $('#quest-index-box').slideUp(function() {
            $('#new-quest-box').slideDown();
            click_slide_name = "new-quest"
          });
        }
      }
    });


    // new_quest_boxを非表示
    $('#btn-quit-new-quest').click(function(){
      $('#new-quest-box').slideUp();
      $('#quest-message-text').text("");
      click_slide_name = ""
    });

    //quest_index_boxを表示
    $('#btn-quest-index').click(function() {
      if (click_slide_name == "quest-index") {
        $('#quest-index-box').slideUp();
        click_slide_name = ""
        $('#quest-message-text').text("");

      } else if (click_slide_name == "quest-show") {
          $(`#quest-show-box-${quest_id}`).slideUp(function() {
            $('#quest-index-box').slideDown();
            click_slide_name = "quest-index"
          });

      } else {
        $('#quest-message-text').text("いままでうけたクエストを6つひょうじしています。")

        if (<%= @show_box_exist %> == false ) {
          $('#new-quest-box').slideUp(function() {
            $('#quest-index-box').slideDown();
            click_slide_name = ""
          });

        } else {
          $('#new-quest-box').slideUp(function() {
            $('#quest-index-box').slideDown();
            click_slide_name = "quest-index"
          });
        }
      }
    });

    //quest_index_boxを非表示
    $('#btn-quit-quest-index').click(function(){
      $('#quest-index-box').slideUp();
      $('#quest-message-text').text("");
      click_slide_name = ""
    });

    // quest_show_boxを表示
    $('.btn-quest-show').click(function(){
      $('#quest-message-text').text("クエストのしょうさいになります。");
      show_button_id = $(this).attr("id");
      quest_id = show_button_id.substr(show_button_id.indexOf('-') + 1);
      $('#quest-index-box').slideUp(function() {
        $(`#quest-show-box-${quest_id}`).slideDown();
        click_slide_name = "quest-show"
      });
    });

    //quest_show_boxを非表示
    $('.btn-quit-quest-show').click(function(){
      click_slide_name = "quest-index"
      $('#quest-message-text').text("いままでうけたクエストを6つひょうじしています。");
      quit_button_id = $(this).attr("id");
      quest_id = quit_button_id.substr(quit_button_id.indexOf('#') + 1);
      $(`#quest-show-box-${quest_id}`).slideUp(function() {
        $('#quest-index-box').slideDown();
      });
    });

  });
</script>