<div class="container">
  <h2 class="mt-3 offset-md-3 col-md-9">Actors</h2>
  <div class='row'>
    <div class="col-md-2 my-3 border pb-2">
      <%= form_with model: @actor, url: admin_actors_path do |f| %>
        <ul class="list-unstyled text-center">
          <li class="h4">New Actor</li>
          <li><%= f.text_field :name, class: "form-control" %></li>
          <li><%= f.submit class: "btn btn-success mt-2" %></li>
        </ul>
      <% end %>
    </div>
    <div class='col-md-9 offset-md-1 my-3'>
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th class="text-center align-middle">ID</th>
		        <th class="text-center align-middle">Graphic</th>
		        <th class="text-center align-middle">Name</th>
		      </tr>
		    </thead>
		    <tbody>
  		  	<% @actors.each do |actor| %>
  		  	  <tr>
  		  	    <td class="col-md-1 text-center align-middle"><%= actor.id %></td>
  		  	    <td class="text-center align-middle">
  		  	      <% if actor.have_first_animation.present? %>
  		  	        <%= image_tag actor.have_first_animation.image, size: "80x80" %>
  		  	      <% end %>
  		  	     </td>
  		  	    <td class="text-center align-middle"><%= link_to actor.name, admin_actor_path(actor) %></td>
  		  	  </tr>
          <% end %>
		    </tbody>
		  </table>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= paginate @actors, class: "col-md-9" %>
    </div>
  </div>
</div>