<div class="container">
  <%= render "layouts/sound_menu" %>
  <div class="action-view-frame system-font adventures-box">
    <div class="fadein-content">
      <div class="animation-field">
        <%= image_tag @quest.map.image, size: "1000x500" %>
        <div class="avatar-frame">
          <%= image_tag @avatar_standing_animation.image, size: "160x160" %>
        </div>

        <div class="enemy-frame">
          <!--standing-->
          <%= image_tag @enemy.have_first_animation.image, size: "160x160" %>
          <!--damaged-->
        </div>

        <div class="boss-frame">
          <%= image_tag @quest.actor.have_first_animation.image, size: "320x320" %>
        </div>
      </div>

      <%= render 'start_btn_box', quest: @quest %>
      <%= render 'screen_pause' %>
      <%= render 'timer' %>

      <div class="adventures-command-window system-window system-window-border">
        <div class="adventures-command-container">
          <div class="adventures-command-box d-flex justify-content-between align-items-center">
            <div class="adventures-command d-flex align-items-center justify-content-center ml-2">
              <%= link_to "リタイアする", adventures_retire_path(quest_id: @quest.id), data: { confirm: 'ほんとうにクエストをリタイアしますか？'} %>
            </div>

            <div id="pause-command" class="adventures-command d-flex align-items-center justify-content-center">
              <%= render 'pause_command', is_stoped: @is_stoped, quest: @quest %>
            </div>

            <div class="adventures-command d-flex align-items-center justify-content-center mr-2">
              <%= link_to "ボスにすすむ", adventures_finish_path(quest_id: @quest.id), method: :patch, data: { confirm: 'がくしゅうをしゅうりょうしてボスにむかいますか？'} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.fadein-content').fadeIn("slow", function() {
      $('.quest-start-btn-box').slideDown("slow");
    });

    $('#btn-quest-start').click(function() {
      $('.quest-start-btn-box').slideUp();
    });
  });
</script>